body {
  font-family: arial, verdana, sans-serif;
}


/*---------------------------------- 
  Together
------------------------------------*/

/*Give the h1 a red background, some padding, and a black border.*/

h1{
	background-color: red;
	padding: 10px;
	border: 5px black solid;
}


/*Give every p a blue background, white text, some padding, and a black border. */

p {
	background-color: blue;
	color: white;
	padding: 30px;
	border: black 5px solid;
}

/*Give every code element a white background, black text, and a thin border.*/

* {
	background-color: white;
	color: black;
	border: black 1px solid;
}


/*---------------------------------- 
  Now you try!
------------------------------------*/

/* Give every h2 a yellow background, black text, some padding, and a thick border */

h2 {
	background-color: yellow;
	color: black;
	padding: 25px;
	border: black 6px solid;
}



/*Give every li a green background, white text, some padding, and a thin red border.*/


li {
	background-color: green;
	color: white;
	padding: 15px;
	border red 4px solid;
}